@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500&display=swap');

/* Style for Home Page */
header span {
    font-family: 'Montserrat', sans-serif;
}

header ul {
    font-family: 'Poppins', sans-serif;
}

footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

footer #logo > h4 {
    transform: rotate(-90deg);
}

.nav-link.active {
    background-color: #fff !important;
    font-weight: 600 !important;
    color: #FF9500 !important;
}

.nav-link {
    position: relative;
}

.nav-link:after {
    content: '';
    opacity: 0;
    transition: all 0.3s;
    height: 3px;
    width: 0;
    background-color: #FF9500;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

.nav-link:hover:after {
    width: 100%;
    opacity: 1;
}
/* End Style for Home Page */