<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" href="../../css/main.style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Libraries -->
    <!-- <link rel="stylesheet" href="library/bootstrap/css/bootstrap.min.css" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../../css/main.min.css"/>
    <link rel="stylesheet" href="../../library/iziToast/iziToast.min.css">

    <title>Gallery</title>
</head>
<body>
    <main>
        <!-- Navbar -->
        <header class="d-flex justify-content-center py-3 px-5">
            <a href="/" class="align-items-center link-body-emphasis text-decoration-none">
                <span class="fs-4"><strong>RAZAREST</strong></span>
            </a>
            <ul class="nav nav-pills mb-md-0 ms-md-auto">
                <li class="nav-item"><a href="/" class="nav-link link-body-emphasis">Home</a></li>
                <li class="nav-item"><a href="../Menu/menu.html" class="nav-link link-body-emphasis" aria-current="page">Menu</a></li>
                <li class="nav-item"><a href="../Gallery/gallery.html" class="nav-link link-body-emphasis">Gallery</a></li>
                <li class="nav-item"><a href="../Location/location.html" class="nav-link link-body-emphasis">Location</a></li>
                <li class="nav-item"><a href="../AboutUs/aboutUs.html" class="nav-link link-body-emphasis">About</a></li>
            </ul>
        </header>
        <!-- End Navbar -->
        
        <!-- Images -->
        <div class="container mt-xxl-5 mb-xxl-5">
            <div class="container" style="display: flex;">
                    <div class="col">
                        <img src="asset/Rectangle 10.png" alt="">
                    </div>
                    <div class="container">
                        <div class="row-gap-lg-1">
                            <img src="asset/Image.png" alt="">
                        </div>
                        <div class="row mt-lg-3">
                            <img src="asset/Image2.png" alt="">
                        </div>
                    </div>
            </div>
            <div class="container mt-3" style="display: flex;">
                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            <img src="asset/Image3.png" alt="" class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="asset/Image4.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <img src="asset/Image8.png" alt="" class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="asset/Image9.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-6 ms-2">
                        <div class="col">
                            <img src="asset/Image5.png" alt="" class="img-fluid">
                        </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-3">
                        <img src="asset/Image10.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-9">
                        <img src="asset/Image7.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Of Images-->
    </main>
    
    <!-- Footer -->
    <footer class="container py-5">
        <div class="row">
            <div class="col-3 col-md-2 mb-3">
                <h5><strong>Other Link</strong></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="../Menu/menu.html" class="nav-link p-0 text-body-secondary">Menu</a></li>
                </ul>
            </div>

            <div class="col-3 col-md-2 mb-3">
                <h5><strong>Company</strong></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="../AboutUs/aboutUs.html" class="nav-link p-0 text-body-secondary">About Us</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
                    <li class="nav-item mb-2"><a href="../Location/location.html" class="nav-link p-0 text-body-secondary">Location</a></li>
                </ul>
            </div>

            <!-- <div id="logo" class="col-6 col-md-auto ms-md-auto">
                <h4 class=""><strong>RAZAREST</strong></h4>
            </div> -->
            <div id="logo" class="col d-flex col-md-auto ms-md-auto">
                <h4><strong>RAZAREST</strong></h4>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
            <p>© Razarest 2023, We love our customers.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-tiktok fa-xl"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-x-twitter fa-xl"></i></a></li>
            </ul>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Libraries -->
    <script src="../../library/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../library/iziToast/iziToast.min.js" type="text/javascript"></script>

    <!-- Scripts -->
    <script src="../../js/main.script.js"></script>
</body>
</html>