/* Style for Menu Page */
@media screen and (max-width: 567px) {
    .carousel-inner{
        display: flex;
    }

    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
}

.filterable-menu .background-title {
    background-color: #FF9500;
    height: 48px;
    width: 25vw;
}

.main-image-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}

.main-image-menu {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: -1;
}

#list-menu {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    z-index: 1;
    border: none;
    transform: translateY(-200px);
}

#list-menu .card-list{
    background-color: #fff;
    border-radius: 80px !important;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
}

#list-menu .card .card-title{
    border: none;
    border-radius: 80px !important;
    width: 100%;
}

.card-img-top img {
    height: 200px;
    border-radius: 20px 20px 0 0 !important;
    object-fit: cover;
}

.card.card-menu {
    box-shadow: 10px;
    border-radius: 20px !important;
    width: 320px;
    height: 400px;
}

.card .card-footer {
    border: none !important;
    border-radius: 0 0 20px 20px !important;
    background-color: #fff;
}

.menu.hide {
    display: none;
}

.swiper {
    width: 100vw;
    height: 480px;
}

.swiper .swiper-navBtn {
    color: #FF9500;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.1);
}

.swiper .swiper-navBtn::before,
.swiper .swiper-navBtn::after {
    font-size: 20px;
}

.swiper .swiper-navBtn:hover {
    color: #fff;
    background-color: #FF9500;
    transition: 0.3s ease-in-out;
}

.swiper .swiper-pagination-bullet {
    background-color: #FF9500;
}
/* End Style for Menu Page */