// custom variables
$primary: #FF9500;

// import bootstrap
@import "bootstrap/scss/bootstrap";
@import "swiper/scss";
@import "swiper/scss/autoplay";

/* CSS for screens with max-width: 1000px */
@media (max-width: 1000px) {
  .container.d-flex {
      flex-wrap: wrap;
      justify-content: center;
  }
  .card-why-us {
      width: 50%;
  }
}

/* CSS for screens with max-width: 560px */
@media (max-width: 560px) {
  .card-why-us {
      width: 100%;
  }
}

.jumbroton {
  font-family: 'Montserrat', sans-serif;
}

.jumbroton img {
  filter: blur(2px) contrast(110%);
}

.swiper {
  width: 100vw;
  height: 480px;
}

#card-menu .card .card-title{
  border: none;
  border-radius: 80px !important;
  width: 100%;
}

#card-menu .card-img-top img {
  height: 240px;
  border-radius: 20px 20px 0 0 !important;
  object-fit: cover;
}

#card-menu .card.card-menu {
  box-shadow: 10px;
  border-radius: 20px !important;
  width: 24rem;
  height: 440px;
}

.card .card-footer {
  border: none !important;
  border-radius: 0 0 20px 20px !important;
  background-color: #fff;
}

.why-us-card.card {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.why-us-card.card:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  box-shadow: rgba(255, 149, 0, 0.5) 0px 0px 32px 0px !important;
}
