<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" href="../../css/style.css">

    <!-- Libraries -->
    <!-- <link rel="stylesheet" href="library/bootstrap/css/bootstrap.min.css" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../../css/main.min.css"/>
    <link rel="stylesheet" href="../../library/iziToast/iziToast.min.css">

    <title>About Us</title>
</head>
<body>
    <main>
        <!-- Navbar -->
        <header class="d-flex justify-content-center py-3 px-5">
            <a href="/" class="align-items-center link-body-emphasis text-decoration-none">
                <span class="fs-4"><strong>RAZAREST</strong></span>
            </a>
            <ul class="nav nav-pills mb-md-0 ms-md-auto">
                <li class="nav-item"><a href="/" class="nav-link link-body-emphasis">Home</a></li>
                <li class="nav-item"><a href="../Menu/menu.html" class="nav-link link-body-emphasis">Menu</a></li>
                <li class="nav-item"><a href="../Gallery/gallery.html" class="nav-link link-body-emphasis">Gallery</a></li>
                <li class="nav-item"><a href="../Location/location.html" class="nav-link link-body-emphasis">Location</a></li>
                <li class="nav-item"><a href="../AboutUs/aboutUs.html" class="nav-link link-body-emphasis" aria-current="page">About</a></li>
            </ul>
        </header>
        <!-- End Navbar -->
        
        <!-- Content -->

        <!-- Title -->
        <div id="location-title" style="width: 90vw; justify-content: center; align-items: center;">
            <div class="background-title" style="background-color: #FF9500; height: 45px; width: 167px;">
                <div class="container">
                    <h1 style="font-size: 200%; width: 40vw; margin-left: 60px;">
                        <span style="color: white;">About</span> 
                        <span style="color: black;">Us</span>
                    </h1>
                </div>
            </div>
        </div>
        <!-- End Title -->
    
        <!-- Asal Usul Outlet -->
        <div class="row g-0 position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
              <img src="Asal Usul.jpg" class="w-100" alt="...">
            </div>
            <div class="col-md-6 p-4 ps-md-6">
              <h4 class="mt-0">Asal Usul</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            </div>
          </div>
        <!-- End Asal Usul Outlet -->

         <!-- Progres Outlet -->
         <div class="row g-0 position-relative">
            <div class="col-md-6 p-4 ps-md-6">
                <h4 class="mt-0">Progress Outlet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="Progress.jpg" class="w-100" alt="...">
            </div>
        </div>
        
        <!-- End Progres Outlet -->

         <!-- Menu Outlet -->
         <div class="row g-0 position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
              <img src="Menu.png" class="w-100" alt="...">
            </div>
            <div class="col-md-6 p-4 ps-md-6">
              <h4 class="mt-0">Menu Outlet</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            </div>
          </div>
        <!-- End Menu Outlet -->

         <!-- Today -->
         <div class="row g-0 position-relative">
            <div class="col-md-6 p-4 ps-md-6">
                <h4 class="mt-0">Today</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="Today.jpg" class="w-100" alt="...">
            </div>
        </div>
        
        <!-- Today -->

    <!-- Footer -->
    <footer class="container py-5">
        <div class="row">
            <div class="col-3 col-md-2 mb-3">
                <h4><strong>Other Link</strong></h4>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="../Menu/menu.html" class="nav-link p-0 text-body-secondary">Menu</a></li>
                </ul>
            </div>

            <div class="col-3 col-md-2 mb-3">
                <h5><strong>Company</strong></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="../AboutUs/aboutUs.html" class="nav-link p-0 text-body-secondary">About Us</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
                    <li class="nav-item mb-2"><a href="../Location/location.html" class="nav-link p-0 text-body-secondary">Location</a></li>
                </ul>
            </div>

            <!-- <div id="logo" class="col-6 col-md-auto ms-md-auto">
                <h4 class=""><strong>RAZAREST</strong></h4>
            </div> -->
            <div id="logo" class="col d-flex col-md-auto ms-md-auto">
                <h4><strong>RAZAREST</strong></h4>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
            <p>© Razarest 2023, We love our customers.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-tiktok fa-xl"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-x-twitter fa-xl"></i></a></li>
            </ul>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Libraries -->
    <script src="../../library/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../library/iziToast/iziToast.min.js" type="text/javascript"></script>

    <!-- Scripts -->
    <script src="../../js/script.js"></script>
</body>
</html>