<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" href="../../css/main.style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Libraries -->
    <link rel="stylesheet" href="../../css/main.min.css"/>

    <link rel="shortcut icon" href="../../asset/RAZAREST Logo.png" type="image/x-icon">
    <title>About Us</title>
</head>
<body>
    <main>
        <!-- Navbar -->
        <header class="d-flex justify-content-center py-3 px-5">
            <a href="/" class="align-items-center link-body-emphasis text-decoration-none">
                <span class="fs-4"><strong>RAZAREST</strong></span>
            </a>
            <ul class="nav nav-pills mb-md-0 ms-md-auto">
                <li class="nav-item"><a href="../../index.html" class="nav-link link-body-emphasis">Home</a></li>
                <li class="nav-item"><a href="../Menu/menu.html" class="nav-link link-body-emphasis">Menu</a></li>
                <li class="nav-item"><a href="../Gallery/gallery.html" class="nav-link link-body-emphasis">Gallery</a></li>
                <li class="nav-item"><a href="../Location/location.html" class="nav-link link-body-emphasis">Location</a></li>
                <li class="nav-item"><a href="../AboutUs/aboutUs.html" class="nav-link link-body-emphasis active" aria-current="page">About</a></li>
            </ul>
        </header>
        <!-- End Navbar -->
        
        <!-- Content -->

        <!-- Title -->
        <div id="location-title" style="width: 90vw; justify-content: center; align-items: center;">
            <div class="background-title" style="background-color: #FF9500; height: 45px; width: 167px;">
                <div class="container">
                    <h1 style="font-size: 200%; width: 40vw; margin-left: 60px;">
                        <span style="color: white;">About</span> 
                        <span style="color: black;">Us</span>
                    </h1>
                </div>
            </div>
        </div>
        <!-- End Title -->
    
        <section id="about-us" class="my-4">
            <div class="container">
                <div class="vertical-line"></div>
                <!-- Asal Usul Outlet -->
                <div class="row g-0 position-relative">
                    <div class="col-md-6 mb-md-0 p-md-4">
                        <div class="me-3">
                            <img src="../../asset/aboutUs-page/Asal Usul.jpg" class="w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-6 p-4 ps-md-6">
                        <div class="ms-3">
                            <h2 class="mb-4" style="font-weight: 700;">Asal Usul</h2>
                            <p><strong>RAZAREST</strong> adalah sebuah restoran yang menyajikan makanan kekinian untuk anak
                                muda zaman sekarang. Restoran ini didirikan oleh 3 pemuda yang berambisi menjadi pengusaha
                                yang sukses. Yaitu Adrian, Ghazali, Redian. Suatu hari, mereka memiliki ide untuk  mendirikan sbeuah restoran.
                                Dimulailah perencanaan konsep restoran, menu, lokasi yang strategis, dan modal untuk restorannya. 
                                <br><br>
                                Setelah dilakukannya riset pasar, lokasi strrategis, dan analisis kompetitor, akhirnya memutuskan untuk mendirikan
                                restoran dengan gaya kekinian. menyediakan makanan dari berbagai daerah, mulai dari daerah di Indonesia  hingga ke
                                luar negeri. Tidak lupa dengan membuat restorannya menjadi tempat yang nyaman dan instagramable. Dilengkapi dengan
                                dekorasi yang unik dan menarik, dan juga musik yang dapat membuat pelanggan betah disana. Dengan memanfaatkan media
                                sosial, menjadikan sebuah peluang untuk mempromosikan restoran, serta memberikan pelayanan yang ramah dan profesional
                                kepada pelanggan.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Asal Usul Outlet -->
        
                <!-- Progres Outlet -->
                <div class="row g-0 position-relative">
                    <div class="col-md-6 p-4 ps-md-6">
                        <div class="me-3">
                            <h2 class="mb-4" style="font-weight: 700;">Progress Outlet</h2>
                            <p>Sejak peluncuran website RAZAREST, kami telah mengalami perkembangan positif yang
                                signifikan dalam menjangkau konsumen muda atau anak jaman now. Antarmuka yang ramah
                                pengguna dan navigasi yang mudah telah memberikan pengalaman memesan berbagai makanan
                                dan minuman yang lebih praktis. Daftar menu yang inovatif dan sesuai dengan tren kuliner
                                kekinian telah mendapatkan respons positif, menciptakan antusiasme tinggi di kalangan konsumen.
                                Kami terus berkomitmen untuk menyajikan kombinasi unik dari cita rasa tradisional dan modern,
                                memberikan pengalaman kuliner yang tak terlupakan.
                                <br><br>
                                Selain itu, pemilihan tema modern minimalis dan kombinasi warna orange dan hitam dalam desain website
                                RAZAREST telah menjadi daya tarik tersendiri. Estetika yang diusung berhasil menarik perhatian anak jaman sekarang,
                                yang cenderung lebih memilih pengalaman visual yang menarik dan menonjol. Sehingga memberikan kepercayaan tambahan 
                                kepada pelanggan dalam bertransaksi secara online di RAZAREST.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-md-0 p-md-4">
                        <div class="ms-3">
                            <img src="../../asset/aboutUs-page/Progress.jpg" class="w-100" alt="...">
                        </div>
                    </div>
                </div>
                <!-- End Progres Outlet -->
        
                <!-- Menu Outlet -->
                <div class="row g-0 position-relative">
                    <div class="col-md-6 mb-md-0 p-md-4">
                        <div class="me-3">
                            <img src="../../asset/aboutUs-page/Menu.png" class="w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-6 p-4 ps-md-6">
                        <div class="ms-3">
                            <h2 class="mb-4" style="font-weight: 700;">Menu Outlet</h2>
                            <p>Menu eksklusif RAZAREST dirancang dengan teliti untuk memuaskan selera konsumen muda
                                yang mencari pengalaman kuliner yang unik dan inovatif. Dalam kategori Food, kami menyajikan
                                hidangan lezat seperti "Sate Kreatif Redian," sebuah inovasi dari sate tradisional dengan berbagai
                                saus spesial yang menggugah selera. Tak kalah menarik, "Pizza Fusion Adrian" menggabungkan cita rasa
                                Italia klasik dengan sentuhan modern yang memikat, menciptakan pengalaman makan yang tak terlupakan.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Menu Outlet -->
        
                <!-- Today -->
                <div class="row g-0 position-relative">
                    <div class="col-md-6 p-4 ps-md-6">
                        <div class="me-3">
                            <h2 class="mb-4" style="font-weight: 700;">Today</h2>
                            <p>Hari ini di RAZAREST, atmosfernya dipenuhi dengan keceriaan dan antusiasme para pengunjung
                                yang datang untuk menikmati sajian kuliner kreatif kami. Dengan aroma sedap menguar di udara,
                                para pelanggan menikmati suasana yang ramai dan penuh semangat, seiring dengan sajian istimewa
                                yang kami tawarkan. Para konsumen dapat ditemukan menikmati "Sate Kreatif Redian" dan "Pizza Fusion Adrian"
                                yang telah menjadi favorit di kalangan pecinta kuliner anak muda.
                                <br><br>
                                Selain hidangan lezat, minuman segar seperti "Ghazali's Blissful Blend" dan "RAZA Delight" menyegarkan selera pengunjung,
                                memberikan nuansa menyenangkan pada keadan hari ini. Pengunjung terlihat menikmati momen bersama teman atau keluarga,
                                menciptakan kenangan berharga di outlet kami. Dengan desain interior yang modern minimalis dan nuansa warna orange dan
                                hitam yang elegan, RAZAREST menciptakan lingkungan yang cocok untuk pertemuan santai atau acara spesial.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-md-0 p-md-4">
                        <div class="ms-3">
                            <img src="../../asset/aboutUs-page/Today.jpg" class="w-100" alt="...">
                        </div>
                    </div>
                </div>
                <!-- Today -->
            </div>
        </section>

    <!-- Footer -->
    <footer class="container py-5">
        <div class="row">
            <div class="col-3 col-md-2 mb-3">
                <h4><strong>Other Link</strong></h4>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="../../index.html" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="../Menu/menu.html" class="nav-link p-0 text-body-secondary">Menu</a></li>
                </ul>
            </div>

            <div class="col-3 col-md-2 mb-3">
                <h5><strong>Company</strong></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="../AboutUs/aboutUs.html" class="nav-link p-0 text-body-secondary">About Us</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
                    <li class="nav-item mb-2"><a href="../Location/location.html" class="nav-link p-0 text-body-secondary">Location</a></li>
                </ul>
            </div>

            <!-- <div id="logo" class="col-6 col-md-auto ms-md-auto">
                <h4 class=""><strong>RAZAREST</strong></h4>
            </div> -->
            <div id="logo" class="col d-flex col-md-auto ms-md-auto">
                <h4><strong>RAZAREST</strong></h4>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
            <p>© Razarest 2023, We love our customers.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-tiktok fa-xl"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-x-twitter fa-xl"></i></a></li>
            </ul>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Libraries -->
    <script src="../../library/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Scripts -->
    <script src="../../js/main.script.js"></script>
</body>
</html>